<nav class="bg-white flex fixed top-0 left-0 z-50 justify-between items-center w-full font-serif border-b shadow-lg border-gray-200 px-6 md:px-12 py-4">
    <div class="flex gap-2 items-center">
        <div class="border-none bg-gray-800 rounded-lg w-fit h-fit">
            <svg class="w-6 h-6 border rounded m-2 bg-white fill-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
        </div>
        <div class="flex flex-col">
            <p class="font-bold font-serif">DIS Clinic</p>
            <p class="text-[10px] font-light text-gray-400">DOCTORS IN SERVICE</p>
        </div>
    </div>

    <div class="hidden md:flex">
        <ul class="flex gap-3 items-center *: *:cursor-pointer">
            <li class="text-sm hover:text-gray-800 text-gray-400"><a href="/index.html">Home</a></li>
            <li class="text-sm hover:text-gray-800 text-gray-400"><a href="#services">Services</a></li>
            <li class="text-sm hover:text-gray-800 text-gray-400"><a href="#">About</a></li>
            <li class="py-2 hover:bg-gray-700 px-3 text-white text-sm border-none rounded-lg bg-gray-800 transition-all duration-500">Contact Us</li>
        </ul>
    </div>
</nav>
